@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}